@font-face {
    font-family: AmandaBlack;
    src: url(./assets/fonts/AnandaBlack.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Roboto;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    padding:0 150px;
    height: 70px;
    background-color: #76B3F7;
    color: white;
    }
h1 {
    font-family: AmandaBlack;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    display: flex;
    padding-right: 30px;
}

li:hover {
    cursor: pointer;
    font-weight: bold;
}

/* jumbo */

#jumbo {
    height: 400px;
    background-image: url(./assets/images/bowling_field.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title_3B {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 1000px;
    height: 150px;
    background-color: black;
    opacity: 0.70;
    font-size: 30px;
    color: white;
    font-weight: bold;
    border: 3px solid white;
}

/* offer */

#offer h2 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 70px;
    padding-bottom: 20px;
}

#offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

}

#announce_offer {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1100px;
    padding-bottom: 20px;
}
#threeb_offers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1200px;
    height: 300px;

}

.b_offer {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
}
.image {
    display: flex;
    justify-content: center;
}
img {
    height: 100px;
    width: 100px;
    display: flex;
    margin: 20px;
}

.b_offer h3 p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;

}
.b_offer h3 {
    text-decoration: underline;
    padding-bottom: 20px;
}

b_offer p {
    padding-bottom: 20px;
}

#blue_bowling {
    background-color: #76B3F7;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #808080a3;
}
#orange_baseball {
    background-color: #FF9595;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #808080a3;
}
#yellow_pool {
    background-color: #FFE572 ;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #808080a3;
}
.b_offer span {
    margin: 10px;
}
.offer_description {
    margin: 10px 0;
}

/* contact */

#contact {
    width: 1200px;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}
#contact h2,p{
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
    margin:auto;

   
}
input {
    padding: 10px;
}

#first_name,#email {
    margin-bottom: 10PX;
}
#information {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 10px;

}
#information_textarea {
    padding: 10px 0;
    display: flex;
    flex-direction: row;

}
textarea {
    width: 50%;
}
#submit {
    width: 100px;
    margin:auto;
    color: white;
    background-color: #76B3F7;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
}


