@font-face {
    font-family: AmandaBlack;
    src: url(./assets/fonts/AnandaBlack.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Roboto;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    padding:0 150px;
    height: 70px;
    background-color: #76B3F7;
    color: white;
    }
h1 {
    font-family: AmandaBlack;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    display: flex;
    padding-right: 30px;
}

li:hover {
    cursor: pointer;
    font-weight: bold;
}

/* jumbo */

#jumbo {
    height: 400px;
    background-image: url(./assets/images/bowling_field.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title_3B {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 1000px;
    height: 150px;
    background-color: black;
    opacity: 0.70;
    font-size: 30px;
    color: white;
    font-weight: bold;
    border: 3px solid white;
}