@font-face {
    font-family: AmandaBlack;
    src: url(./assets/fonts/AnandaBlack.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Roboto;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    padding:0 150px;
    height: 70px;
    background-color: #76B3F7;
    color: white;
    }
h1 {
    font-family: AmandaBlack;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    display: flex;
    padding-right: 30px;
}

li:hover {
    cursor: pointer;
    font-weight: bold;
}
